<a href="https://colab.research.google.com/github/sergeymasl/my_lifehacks/blob/main/My_lifehacks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Шпаргалка по [pandas](https://habr.com/ru/company/ruvds/blog/494720/)

---

Для уменьшения количества занимаемо памяти можно изменить [тип данных](https://numba.pydata.org/numba-doc/0.12/tutorial_types.html#:~:text=is%20not%20exahustive.-,Integral%20types,-%C2%B6) на тип данных который занимает меньше битов


---

In [ ]:
map_column_to_type = {
    'category_id': np.int16,
    'item_nds_rate': np.int16,
    'item_price': np.int16,
    'item_quantity': np.float32,
    'receipt_dayofweek': np.int16,
    'receipt_id': np.int32}

Оконные функции в [DataFrame](https://dfedorov.spb.ru/pandas/%D0%9F%D0%BE%D0%BD%D0%B8%D0%BC%D0%B0%D0%BD%D0%B8%D0%B5%20%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%B8%20transform%20%D0%B2%20Pandas.html)


---

In [ ]:
df['col'] = df.groupby('col_1')['col_2'].transform('sum')

Экранирование специальных символов регулярных выражений в pattern c помощью билиотеки [re](https://tproger.ru/translations/regular-expression-python/)\

---

In [ ]:
import re
re.escape(pattern)

Отображение времени выполнения 

---

In [ ]:
%%time
print('hello_world')

hello_world
CPU times: user 65 µs, sys: 15 µs, total: 80 µs
Wall time: 85.4 µs

Удаление NaN только в определенном столбце

---

In [ ]:
catalog.dropna(subset=['Выражения идентификаторы бренда'],inplace=True)

Загрузка файлов в Colab из GitHub

---

In [ ]:
url = 'copied_raw_GH_link'df1 = pd.read_csv(url)

Загрузка файлов в Colab с локального диска

---

In [ ]:
from google.colab import files
uploaded = files.upload()

df = pd.read_csv('wage-data.csv')

Включение всплывающих команд в Jupiter с помощью Tab

---

In [ ]:
%config IPCompleter.greedy=True

Считывание данных в датафрейм из Google Drive

---

In [ ]:
url = 'https://drive.google.com/file/d/1imxbb6tU7wTnR0q1eGmy6N1qpf4grKdV/view?usp=sharing' #ссылка на файл(в Drive нужно открыть доступ для просмотра)
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
pd.read_csv(path)

Выгрузка данных на гугл диск

---

In [ ]:
from google.colab import drive
drive.mount('drive')
df1.to_csv('data.csv',sep=';',)
!cp data.csv "drive/My Drive/"

Названия столбцов таблицы базы данных PostreSQL

---

In [ ]:
print('test_task_billing:')
cursor.execute('''select * from information_schema.columns 
where table_catalog = 'wazzup_data_mart' and  
table_name = 'test_task_billing';''')
for row in cursor:
  print (row)

Совместная работа Python и SQL

---

In [ ]:
import psycopg2
conn = psycopg2.connect(
    host='rc1c-fhrb9f1e0l9g611h.mdb.yandexcloud.net', port='6432', database='hr-analytics',
    user='analytics', password='HRanalytics')
cursor = conn.cursor()
cursor.execute('''
SELECT * FROM table
''')
list1 = []
for row in cursor:
  list1.append(row)
df1 = DataFrame(list1, columns = ['Месяц', 'Год', 'Выручка'])
(df1)

Транслитерация:

[Справочная информация на русском](https://docs-python.ru/packages/modul-transliterate-python/)

[Справочная информация и ссылки на загрузку](https://pypi.org/project/transliterate/)

---